/* common style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header style */
header {
    background-color: red;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* main style */
main {
    flex: 1;
    padding: 2rem;
    padding-top: 6rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
}

.card {
    min-width: 200px;
    flex-shrink: 0;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    scroll-snap-align: start;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    background-color: lightgray;
    box-shadow: 0 4px 12px grey;
    transform: scale(1.05);
}

.card-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.card-name {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.card-price {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.25rem;
}

/* footer style */
footer {
    background-color: lightgrey;
    color: grey;
    text-align: center;
    padding: 1rem;
    font-size: 0.75rem;
}

/* smartphone */
@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .card {
        min-width: 70vw;
        padding: 0.5rem;
    }

    .card-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        display: block;
    }

    .card-name,
    .card-price {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0.25rem;
    }

    main {
        padding: 1rem;
        padding-top: 5rem;
    }
}

/* pc */
@media (min-width: 1024px) {
    .card {
        min-width: 240px;
    }

    .card-image img {
        height: 240px;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .card {
        background-color: dimgray;
        color: white;
    }

    footer {
        background-color: gray;
        color: lightgray;
    }
}